/*!
 * GeoLocator
 * Geo Locator
 * uirevamp.com/geolocator
 * @author Luc Martin
 * @version 0.1.0
 * Copyright Luc Martin 2014.  licensed.
 */

/* line 2, ../www/css/sass/screen.scss */
header h1, header h2, header h3 {
  display: inline-block;
  width: auto;
  margin: 20px 20px 20px 60px;
}
/* line 7, ../www/css/sass/screen.scss */
header h1 {
  font-size: 2.5em;
}
/* line 10, ../www/css/sass/screen.scss */
header h2 {
  font-size: 2em;
}
/* line 13, ../www/css/sass/screen.scss */
header h3 {
  display: block;
  font-size: 1.5em;
}

/* line 19, ../www/css/sass/screen.scss */
#main .form-wrapper {
  width: 90%;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  height: auto;
  padding: 30px;
}
/* line 27, ../www/css/sass/screen.scss */
#main .form-wrapper h4 {
  display: inline-block;
  width: auto;
  margin: 0 50px 0 0;
  font-size: 1em;
}
/* line 33, ../www/css/sass/screen.scss */
#main .form-wrapper .help {
  background: url(../../img/question_mark.png) no-repeat;
  background-size: 100%;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px 0 0 0;
  padding: 5px;
}
/* line 41, ../www/css/sass/screen.scss */
#main .form-wrapper .help:hover {
  background: url(../../img/question_mark_hover.png) no-repeat;
  background-size: 100%;
}
/* line 45, ../www/css/sass/screen.scss */
#main .form-wrapper .help:active {
  background: url(../../img/question_mark.png) no-repeat;
  background-size: 100%;
}
/* line 50, ../www/css/sass/screen.scss */
#main .form-wrapper .input-wrapper {
  padding: 5px;
  border: solid black 1px;
}
/* line 54, ../www/css/sass/screen.scss */
#main .form-wrapper .button {
  border: solid black 1px;
  box-shadow: 4px 4px 3px #666;
  display: inline-block;
  height: auto;
  width: 20%;
  font-size: 1em;
}
/* line 61, ../www/css/sass/screen.scss */
#main .form-wrapper .button:hover {
  box-shadow: 4px 4px 1px #555;
}
/* line 64, ../www/css/sass/screen.scss */
#main .form-wrapper .button:active {
  box-shadow: 4px 4px 3px #666;
}
